BasedOnStyle: LLVM
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentWidth: 2
NamespaceIndentation: None
SortIncludes: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
